.chat-button {
    float:left;
    padding-top: 90%;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background-color: #112e51;
    box-shadow: 0 0 5px 2px #fac922;
    padding: 10px;
    margin: 20px 20px;
}

.chat-button:hover {
    box-shadow: 0 0 20px 2px #114751;
    transition: all 2s;
}
.chat-button > span{
    color: white;
    padding: 5px;    
    vertical-align: top;
    font-weight: bold;    
    font-size: larger;
}